BOT_TOKEN=123:abc

DEV_ID=123
GROUP_ID=-100
ADMIN_IDS=123,124,125

TIMEZONE=Europe/Moscow
DEFAULT_LOCALE=en
SUPPORTED_LOCALES=en,ru

DB_URL=sqlite+aiosqlite:///./data/db.sqlite3

REDIS_URL=redis://localhost:6379/1

MYTONSTORAGE_REPORTS_KEY=xxx
MYTONSTORAGE_BANS_KEY=xxx
