aiogram==3.26.0
aiogram_dialog==2.5.0
aiosqlite==0.22.1
alembic==1.18.4
cachetools==5.5.2
environs==14.6.0
greenlet==3.3.2
multicolorcaptcha==1.2.0
pyapiq==0.2.1
pydantic==2.12.5
PyYAML==6.0.3
redis==7.3.0
SQLAlchemy==2.0.48